# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration (Neon DB)
DATABASE_URL="psql 'postgresql://neondb_owner:npg_oU4D1wiJIdvP@ep-lucky-salad-aqfvwjvf-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'"

# JWT Configuration
JWT_ACCESS_SECRET="satyasootar"
JWT_REFRESH_SECRET="satyasootar"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"

# CORS Configuration
CORS_ORIGIN="http://localhost:3000"

# File Upload Configuration
UPLOAD_PATH="./uploads"
MAX_FILE_SIZE=5242880 # 5MB in bytes

# Logging Configuration
LOG_LEVEL="debug"
